.erp{
    display: inline-block;
    width: 100%;
    top: 0;
    background-color: #FF3B3F;
    color: white;
   padding: 2px 10px ;
text-align: center;
  }
  .block1{
    position: fixed left;
    display: inline-block;
    width: 20em;
    height: 34em;
    overflow: auto;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: 1em;
  }
    .block2{
    position: fixed left;
    display: inline-block;
    width: 20em;
    height: 15em;
    overflow: hidden;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: 1em;
  }
     .block3{
    position: fixed left;
    display: inline-block;
    width: 30em;
    height: 34em;
    overflow: auto;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: .5em;
  }
     .block4{
    display: inline-block;
    width: 40em;
    height: 34em;
    overflow: hidden;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: .5em;
  }

  .header1{
position: absolute;
    padding-top: 1em;
    display: inline-block;
  width: 17.5em;
  height: 2.9em;
  border: 1px solid black;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-top: -10px;
  margin-left:-1px;
  background-color: #eee;
  text-align: center;
  font-size:16px;
  }
    .header2{
position: absolute;
    padding-top: 1em;
    display: inline-block;
  width: 26.25em;
  height: 2.9em;
  border: 1px solid black;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-top: -10px;
  margin-left:-1px;
  background-color: #eee;
  text-align: center;
  font-size:16px;
  }
    .header3{
position: absolute;
    padding-top: 1em;
    display: inline-block;
  width: 35em;
  height: 2.9em;
  border: 1px solid black;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-top: -10px;
  margin-left:-1px;
  background-color: #eee;
  text-align: center;
  font-size:16px;
  }
  .block1 ul li{

    margin-top: 1em;
    font-size: 15px;
  }
  .tn{
    margin-top: 7em;
  }


  #btn_1{
     width: 5em;
    margin-left: 7.7em;
    margin-top: .4em;
  }
  #btn_2{
    width: 5em;
    margin-top: .3em;
    margin-left: 2em;
  }
  #btn_3{
    margin-top: .3em;
    margin-left: 6em;
  }

   .pre{
    margin-left: 1em;
    margin-top: 3.5em;
  }
  .block4 #res_1{
    margin-top: 3em;
  }
  .straight{
    margin-top: 2em;
    display: inline-block;
    height: 34em;
    margin-left: 2em;
  }
th,td{
  padding:10px;
}
th{
  text-align:left;
}
table#t2{
  border-collapse:collapse;
}
table#t2 th{
  background-color:black;
  color:white;
}
.select{
  width: 7em;
  margin-left: 6em;
  margin-top: 3em;
}
.form-control{
  margin-top: 2em;
}
.erp{
    display: inline-block;
    width: 100%;
    top: 0;
    background-color: #FF3B3F;
    color: white;
   padding: 2px 10px ;
text-align: center;
}

@media (min-width: 320px) and (max-width:400px){


    .straight{
    
    margin-left: -2%;
   margin-top: 18%;

   
    
  }

  .block3{
    
    margin-top: -150%;
    margin-left: 100%;
    margin-bottom: 7%;
    margin-right: 5%;
   
  }
 
  .block4{
     margin-top: -150%; 
     margin-left: 240%;
 margin-right: 5%;
  margin-bottom: 14%;
    

 }
}
@media (min-width: 401px) and (max-width:480px){


    .straight{
    
    margin-left: -2%;
   margin-top: 20%;

   
    
  }

  .block3{
    
    margin-top: -130%;
    margin-left: 85%;
    margin-bottom: 6%;
    margin-right: 5%;
   
  }
 
  .block4{
     margin-top: -130%; 
     margin-left: 210%;
 margin-right: 5%;
  margin-bottom: 12%;
    

 }
}
@media (min-width: 481px) and (max-width:580px){


    .straight{
    
    margin-left: -2%;
   margin-top: 22%;

   
    
  }

  .block3{
    
    margin-top: -130%;
    margin-left: 70%;
    margin-bottom: 4%;
    margin-right: 5%;
   
  }
 
  .block4{
     margin-top: -130%; 
     margin-left: 170%;
 margin-right: 5%;
  margin-bottom: 9%;
    

 }
}
@media (min-width: 581px) and (max-width:680px){


    .straight{
    
    margin-left: -2%;
   margin-top: 20%;


   
    
  }

  .block3{
    
    margin-top: -130%;
    margin-left: 55%;
    margin-bottom: 3%;
    margin-right: 5%;
   
  }
 
  .block4{
     margin-top: -130%; 
     margin-left: 136%;
 margin-right: 5%;
  margin-bottom: 7%;
    

 }
}
@media (min-width: 681px) and (max-width:768px){


    .straight{
    
    margin-left: 1%;
   margin-top: 20%;


   
    
  }

  .block3{
    
    margin-top: -130%;
    margin-left: 47%;
    margin-bottom: 3%;
    margin-right: 5%;
   
  }
 
  .block4{
     margin-top: -130%; 
     margin-left: 116%;
 margin-right: 5%;
  margin-bottom: 6%;
    

 }
}
@media (min-width: 769px){

.container-fluid{
  position: absolute;
      margin-left: 3%;
     
}

}