.link1{

  font-family: Montserrat, sans-serif;

  font-size: 20px;

  border-radius: 6px;

  border-top: 2px solid white;

  border-bottom: 2px solid white;

  border-left: 1px solid white;

  border-right: 1px solid white;

  margin-left: 1em;

  margin-top: 1.4em;

  margin-right: 1em;

  margin-bottom: 2px;

}

.link2{

  font-family: Montserrat, sans-serif;

  font-size: 20px;

   border-radius: 6px;

  border-top: 2px solid white;

  border-bottom: 2px solid white;

  border-left: 1px solid white;

  border-right: 1px solid white;

  margin-left: 1em;

  margin-top: 1.4em;

  margin-right: 2em;

  margin-bottom: 2px;

}



.navbar-nav button {

  margin-top: 3em;

  margin-right: 2em;

}

.as{

  float: right;

  display: inline-block;

  width: 70%;

  height: 3em;

  border: 0px solid black;

  margin-top: 9em;

    margin-right: 1em;

    font-size: .9em;

}
@media (min-width: 250px) and (max-width: 338px){
        .as{
          margin-right: 12%;
          margin-top: 80%;

        }
      
}
@media (min-width: 339px) and (max-width: 370px){
        .as{
          margin-right: 12%;
          margin-top: 70%;

        }
      
}
@media (min-width: 371px) and (max-width: 400px){
        .as{
          margin-right: 12%;
          margin-top: 60%;

        }
      
}
@media (min-width: 401px) and (max-width: 500px){
        .as{
          margin-right: 12%;
          margin-top: 50%;

        }
      
}
@media (min-width: 501px) and (max-width: 600px){
        .as{
          margin-right: 12%;
          margin-top: 40%;

        }
      
}
@media (min-width: 601px) and (max-width: 700px){
        .as{
          margin-right: 12%;
          margin-top: 30%;

        }
      
}
@media (min-width: 701px) and (max-width: 956px){
        .as{
       margin-top: 20%;
         

        }
      
}