#bs li a{
	text-decoration: none; 
    border-width: 4em;
    
	height: 2.3em;
    margin-left: .5em;
    margin-top: 1.2em; 
    margin-right: .5em;
    color: #fff;
    font-family:Ubuntu;
    font-weight: lighter;
    font-size: 24px;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
	 color: #f4511e !important;
	background-color:#fff !important;
}
 .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
.as{
	padding: 12px 24px;
	margin-top: 15em;
    font-size: .9em;
}
